[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git
[submodule "upstream/fmt"]
	path = upstream/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "upstream/boost"]
	path = upstream/boost
	url = git@github.com:boostorg/boost.git
