[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "upstream/fmt"]
	path = upstream/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "upstream/boost"]
	path = upstream/boost
	url = https://github.com/boostorg/boost.git
[submodule "upstream/thread_pool/thread-pool"]
	path = upstream/thread_pool/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
